@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to jokes app</h1>
    <p>Learn</a> a good humor takes downd some burden from shoulders</p>
</div>
